.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/5232_133563689770128171/values.xml
packages-microsoft-prod.deb.1
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/982_133564365164049515/values.xml
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/637_133564511474351119/values.xml
.mono/registry/CurrentUser/software/microsoft/sqmclient/values.xml
.mono/registry/CurrentUser/software/microsoft/csdevkit/telemetry/persistentpropertybag/values.xml
